.titulo {
    text-align: center;

}

.tituloTabla {
    background-color: rgb(235, 207, 156);
}

.tabla,th,td {
    text-align: center;
    background-color: rgb(235, 213, 185);
    font-family: Arial;
	margin: 0 auto;
    border: 1px  solid black;

}

input {
    background-color: rgb(235, 213, 185);
    font-family: Arial;
    border: 1px  solid black;
}

.textoInferior{
    font-family: Arial;

}

.imagenTabla{
	width:500px; 
	height:50%;

}