.titulo {
    text-align: center;

}

.tabla,th,td {
    text-align: center;
    background-color: rgb(224, 198, 162);
    font-family: Arial;
	margin: 0 auto;
    border: 1px  solid black;

}

.textoInferior{
    font-family: Arial;

}

.imagenTabla{
	width:500px; 
	height:50%; 
}